In [1]:
import pickle
import numpy as np

# Load the pickle file
with open('/data/home/natant/Negatives/TFBS_negatives/testing_ground/20250613_NUMBER_OF_POSITIVES_PER_GROUP.pkl', 'rb') as f:
    data = pickle.load(f)

print(data)

{'MCF-7': {'CTCF': (np.int64(7124), np.int64(5733), np.int64(8144)), 'TCF7L2': (np.int64(2909), np.int64(2949), np.int64(4439)), 'ZNF217': (np.int64(2911), np.int64(2775), np.int64(4259)), 'GATA3_(SC-268)': (np.int64(1853), np.int64(1606), np.int64(2624))}, 'GM12878': {'CTCF': (np.int64(12222), np.int64(12053), np.int64(15832)), 'YY1_(SC-281)': (np.int64(8978), np.int64(9385), np.int64(12635)), 'TBP': (np.int64(4052), np.int64(4415), np.int64(6423)), 'Egr-1': (np.int64(4762), np.int64(4919), np.int64(6643)), 'Mxi1_(AF4185)': (np.int64(5035), np.int64(5307), np.int64(7405)), 'SRF': (np.int64(2529), np.int64(2546), np.int64(3471)), 'MAZ_(ab85725)': (np.int64(5355), np.int64(5885), np.int64(7732)), 'ELK1_(1277-1)': (np.int64(1654), np.int64(1731), np.int64(2199)), 'SIX5': (np.int64(1613), np.int64(1357), np.int64(1873)), 'USF-1': (np.int64(2829), np.int64(2985), np.int64(3965)), 'SP1': (np.int64(5455), np.int64(5421), np.int64(7372)), 'RFX5_(200-401-194)': (np.int64(1298), np.int64(1300), np.int64(1742)), 'ELF1_(SC-631)': (np.int64(6649), np.int64(7101), np.int64(9248)), 'ATF2_(SC-81188)': (np.int64(6856), np.int64(6427), np.int64(10207)), 'NF-YB': (np.int64(4118), np.int64(3834), np.int64(5353)), 'USF2': (np.int64(2612), np.int64(2676), np.int64(3740)), 'Znf143_(16618-1-AP)': (np.int64(5921), np.int64(6282), np.int64(7815)), 'ZEB1_(SC-25388)': (np.int64(1389), np.int64(1477), np.int64(1976)), 'Pbx3': (np.int64(2919), np.int64(3013), np.int64(4003)), 'MEF2A': (np.int64(5139), np.int64(4865), np.int64(7608)), 'TCF12': (np.int64(5777), np.int64(6163), np.int64(8497)), 'Max': (np.int64(3531), np.int64(3847), np.int64(5175)), 'STAT5A_(SC-74442)': (np.int64(2063), np.int64(2137), np.int64(3232)), 'NFIC_(SC-81335)': (np.int64(8488), np.int64(8008), np.int64(12570)), 'Nrf1': (np.int64(1844), np.int64(1645), np.int64(2200)), 'CEBPB_(SC-150)': (np.int64(1576), np.int64(1663), np.int64(2559)), 'FOXM1_(SC-502)': (np.int64(6564), np.int64(6456), np.int64(9915)), 'RXRA': (np.int64(429), np.int64(490), np.int64(786)), 'ZBTB33': (np.int64(595), np.int64(633), np.int64(916)), 'ETS1': (np.int64(1146), np.int64(1239), np.int64(1729)), 'ATF3': (np.int64(492), np.int64(498), np.int64(685)), 'NF-YA': (np.int64(571), np.int64(538), np.int64(732)), 'IKZF1_(IkN)_(UCLA)': (np.int64(2398), np.int64(2647), np.int64(4021)), 'JunD': (np.int64(707), np.int64(713), np.int64(1056)), 'ZZZ3': (np.int64(229), np.int64(231), np.int64(257)), 'ZNF274': (np.int64(142), np.int64(34), np.int64(57))}, 'HepG2': {'ZBTB33': (np.int64(760), np.int64(749), np.int64(1370)), 'USF-1': (np.int64(6194), np.int64(6098), np.int64(9601)), 'SP1': (np.int64(7260), np.int64(7249), np.int64(10969)), 'FOXA1_(SC-101058)': (np.int64(12281), np.int64(11540), np.int64(19294)), 'CTCF': (np.int64(14192), np.int64(14298), np.int64(20202)), 'MafK_(ab50322)': (np.int64(19335), np.int64(14790), np.int64(27819)), 'MafF_(M8194)': (np.int64(11368), np.int64(9054), np.int64(17209)), 'FOSL2': (np.int64(6745), np.int64(7021), np.int64(11441)), 'YY1_(SC-281)': (np.int64(5029), np.int64(4862), np.int64(7989)), 'JunD': (np.int64(9304), np.int64(7888), np.int64(15083)), 'ELF1_(SC-631)': (np.int64(5118), np.int64(4968), np.int64(7910)), 'Mxi1_(AF4185)': (np.int64(5780), np.int64(5564), np.int64(9032)), 'ATF3': (np.int64(949), np.int64(877), np.int64(1465)), 'RFX5_(200-401-194)': (np.int64(1736), np.int64(1488), np.int64(2790)), 'Max': (np.int64(3318), np.int64(3114), np.int64(5434)), 'RXRA': (np.int64(4668), np.int64(4664), np.int64(7740)), 'ZBTB7A_(SC-34508)': (np.int64(2548), np.int64(2334), np.int64(4306)), 'MAZ_(ab85725)': (np.int64(3395), np.int64(3255), np.int64(5449)), 'TBP': (np.int64(3857), np.int64(3758), np.int64(6199)), 'TEAD4_(SC-101184)': (np.int64(4054), np.int64(3808), np.int64(7310)), 'CEBPB_(SC-150)': (np.int64(5107), np.int64(4677), np.int64(8339)), 'USF2': (np.int64(1870), np.int64(1666), np.int64(2754)), 'SRF': (np.int64(1457), np.int64(1362), np.int64(2495)), 'MYBL2_(SC-81192)': (np.int64(4676), np.int64(4342), np.int64(8903)), 'NFIC_(SC-81335)': (np.int64(4364), np.int64(3932), np.int64(7809)), 'ARID3A_(NB100-279)': (np.int64(4881), np.int64(4242), np.int64(8498)), 'CEBPD_(SC-636)': (np.int64(3058), np.int64(2962), np.int64(5408)), 'Nrf1': (np.int64(632), np.int64(489), np.int64(783)), 'HSF1': (np.int64(325), np.int64(339), np.int64(770)), 'TCF12': (np.int64(513), np.int64(433), np.int64(1120)), 'TCF7L2': (np.int64(740), np.int64(658), np.int64(1344)), 'BHLHE40': (np.int64(777), np.int64(722), np.int64(1362)), 'IRF3': (np.int64(225), np.int64(140), np.int64(319)), 'ZNF274': (np.int64(152), np.int64(34), np.int64(59))}, 'IMR90': {'MafK_(ab50322)': (np.int64(12965), np.int64(11185), np.int64(16640))}, 'HCT-116': {'CTCF': (np.int64(15100), np.int64(15067), np.int64(20122)), 'YY1_(SC-281)': (np.int64(3419), np.int64(3795), np.int64(5540)), 'TCF7L2': (np.int64(5516), np.int64(5845), np.int64(8106)), 'ZBTB33': (np.int64(1050), np.int64(1295), np.int64(1979))}, 'PANC-1': {'TCF7L2': (np.int64(3740), np.int64(4192), np.int64(5450))}, 'K562': {'ZBTB33': (np.int64(937), np.int64(1050), np.int64(1298)), 'CTCF': (np.int64(12716), np.int64(13669), np.int64(16843)), 'Egr-1': (np.int64(10817), np.int64(11897), np.int64(14270)), 'MAZ_(ab85725)': (np.int64(9369), np.int64(11294), np.int64(12679)), 'MafK_(ab50322)': (np.int64(5606), np.int64(5916), np.int64(7801)), 'MafF_(M8194)': (np.int64(7416), np.int64(7488), np.int64(10165)), 'Max': (np.int64(8926), np.int64(10378), np.int64(12138)), 'YY1_(SC-281)': (np.int64(3790), np.int64(3982), np.int64(4905)), 'TBP': (np.int64(5117), np.int64(5507), np.int64(6933)), 'ATF3': (np.int64(369), np.int64(423), np.int64(440)), 'JunD': (np.int64(11212), np.int64(13063), np.int64(15782)), 'RFX5_(200-401-194)': (np.int64(621), np.int64(722), np.int64(860)), 'SRF': (np.int64(1354), np.int64(1596), np.int64(1759)), 'ATF1_(06-325)': (np.int64(4130), np.int64(4756), np.int64(5970)), 'SIX5': (np.int64(1401), np.int64(1303), np.int64(1489)), 'SP1': (np.int64(2198), np.int64(2333), np.int64(2673)), 'NF-YA': (np.int64(1378), np.int64(1243), np.int64(1666)), 'NF-YB': (np.int64(3229), np.int64(2937), np.int64(3929)), 'USF-1': (np.int64(5424), np.int64(5926), np.int64(7171)), 'Znf143_(16618-1-AP)': (np.int64(8333), np.int64(9764), np.int64(10963)), 'ELF1_(SC-631)': (np.int64(8134), np.int64(8961), np.int64(10683)), 'TEAD4_(SC-101184)': (np.int64(8873), np.int64(9722), np.int64(12443)), 'CEBPB_(SC-150)': (np.int64(6503), np.int64(6835), np.int64(8912)), 'FOSL1_(SC-183)': (np.int64(3029), np.int64(3806), np.int64(4338)), 'ZNF274': (np.int64(169), np.int64(62), np.int64(75)), 'SETDB1': (np.int64(1776), np.int64(1907), np.int64(2009)), 'ETS1': (np.int64(3036), np.int64(3618), np.int64(4073)), 'ZBTB7A_(SC-34508)': (np.int64(6450), np.int64(7183), np.int64(8073)), 'NR2F2_(SC-271940)': (np.int64(4702), np.int64(5472), np.int64(6506)), 'MEF2A': (np.int64(1557), np.int64(1892), np.int64(2174)), 'STAT5A_(SC-74442)': (np.int64(2751), np.int64(3103), np.int64(3959)), 'Nrf1': (np.int64(1348), np.int64(1285), np.int64(1578)), 'Mxi1_(AF4185)': (np.int64(1895), np.int64(2235), np.int64(2579)), 'ELK1_(1277-1)': (np.int64(814), np.int64(1038), np.int64(1112)), 'USF2': (np.int64(906), np.int64(1053), np.int64(1125)), 'Bach1_(sc-14700)': (np.int64(1067), np.int64(1199), np.int64(1537))}, 'HEK293': {'CTCF': (np.int64(13970), np.int64(14657), np.int64(18692)), 'TCF7L2': (np.int64(3032), np.int64(2689), np.int64(3248))}, 'A549': {'CTCF': (np.int64(13342), np.int64(13624), np.int64(18769)), 'YY1_(SC-281)': (np.int64(2807), np.int64(2951), np.int64(4519)), 'CREB1_(SC-240)': (np.int64(4496), np.int64(4598), np.int64(6813)), 'Max': (np.int64(2668), np.int64(2801), np.int64(4422)), 'TCF12': (np.int64(5817), np.int64(5829), np.int64(9260)), 'FOSL2': (np.int64(7796), np.int64(8467), np.int64(12500)), 'ELF1_(SC-631)': (np.int64(2357), np.int64(2480), np.int64(3781)), 'BHLHE40': (np.int64(850), np.int64(890), np.int64(1385)), 'ATF3': (np.int64(1631), np.int64(1876), np.int64(3081)), 'USF-1': (np.int64(2170), np.int64(2457), np.int64(3821)), 'ETS1': (np.int64(1535), np.int64(1503), np.int64(2503)), 'SIX5': (np.int64(1488), np.int64(1318), np.int64(2109)), 'ZBTB33': (np.int64(1896), np.int64(2039), np.int64(3222)), 'FOXA1_(SC-101058)': (np.int64(2180), np.int64(2119), np.int64(3401))}}

In [2]:
import pandas as pd

# Create a dictionary to store dataframes for each cell line
dataframes = {}

# Iterate through each cell line
for cell_line, tf_data in data.items():
    # Create a list to store the data for this cell line
    rows = []
    
    # Iterate through each TF and extract the three values
    for tf_name, values in tf_data.items():
        rows.append({
            'TF': tf_name,
            'Split_1': values[0],
            'Split_2': values[1],
            'Split_3': values[2]
        })
    
    # Create dataframe for this cell line
    df = pd.DataFrame(rows)
    df.set_index('TF', inplace=True)
    
    # Store in dictionary
    dataframes[cell_line] = df

In [3]:
dataframes.keys()

dict_keys(['MCF-7', 'GM12878', 'HepG2', 'IMR90', 'HCT-116', 'PANC-1', 'K562', 'HEK293', 'A549'])

In [4]:
selected = dataframes["A549"].sort_values('Split_1', ascending=False).loc[dataframes["A549"]['Split_1'] >= 2000]
selected

                   Split_1  Split_2  Split_3
TF
CTCF                 13342    13624    18769
FOSL2                 7796     8467    12500
TCF12                 5817     5829     9260
CREB1_(SC-240)        4496     4598     6813
YY1_(SC-281)          2807     2951     4519
Max                   2668     2801     4422
ELF1_(SC-631)         2357     2480     3781
FOXA1_(SC-101058)     2180     2119     3401
USF-1                 2170     2457     3821

In [5]:
selected.index

Index(['CTCF', 'FOSL2', 'TCF12', 'CREB1_(SC-240)', 'YY1_(SC-281)', 'Max',
       'ELF1_(SC-631)', 'FOXA1_(SC-101058)', 'USF-1'],
      dtype='object', name='TF')

In [6]:
selected_TFs = dataframes["HepG2"].sort_values('Split_1', ascending=False).head(10)

In [7]:
dataframes["HepG2"].sort_values('Split_1', ascending=False).head(10)

                   Split_1  Split_2  Split_3
TF
MafK_(ab50322)       19335    14790    27819
CTCF                 14192    14298    20202
FOXA1_(SC-101058)    12281    11540    19294
MafF_(M8194)         11368     9054    17209
JunD                  9304     7888    15083
SP1                   7260     7249    10969
FOSL2                 6745     7021    11441
USF-1                 6194     6098     9601
Mxi1_(AF4185)         5780     5564     9032
ELF1_(SC-631)         5118     4968     7910

In [10]:
selected_TFs
selected_TFs['Min_Positives'] = selected_TFs[['Split_1', 'Split_2', 'Split_3']].min(axis=1)
print(selected_TFs)

                   Split_1  Split_2  Split_3  Min_Positives
TF
MafK_(ab50322)       19335    14790    27819          14790
CTCF                 14192    14298    20202          14192
FOXA1_(SC-101058)    12281    11540    19294          11540
MafF_(M8194)         11368     9054    17209           9054
JunD                  9304     7888    15083           7888
SP1                   7260     7249    10969           7249
FOSL2                 6745     7021    11441           6745
USF-1                 6194     6098     9601           6098
Mxi1_(AF4185)         5780     5564     9032           5564
ELF1_(SC-631)         5118     4968     7910           4968

In [11]:
# Create an exportable list of TFs and their min_positives
tf_min_positives = [(tf, min_pos) for tf, min_pos in zip(selected_TFs.index, selected_TFs['Min_Positives'])]
print(tf_min_positives)

[('MafK_(ab50322)', 14790), ('CTCF', 14192), ('FOXA1_(SC-101058)', 11540), ('MafF_(M8194)', 9054), ('JunD', 7888), ('SP1', 7249), ('FOSL2', 6745), ('USF-1', 6098), ('Mxi1_(AF4185)', 5564), ('ELF1_(SC-631)', 4968)]

In [ ]:
# Copy this list to use in another script
tf_min_positives = [
    ('MafK_(ab50322)', 14790),
    ('CTCF', 14192),
    ('FOXA1_(SC-101058)', 11540),
    ('MafF_(M8194)', 9054),
    ('JunD', 7888),
    ('SP1', 7249),
    ('FOSL2', 6745),
    ('USF-1', 6098),
    ('Mxi1_(AF4185)', 5564),
    ('ELF1_(SC-631)', 4968)
]

In [12]:
dataframes["HepG2"]

                    Split_1  Split_2  Split_3
TF
ZBTB33                  760      749     1370
USF-1                  6194     6098     9601
SP1                    7260     7249    10969
FOXA1_(SC-101058)     12281    11540    19294
CTCF                  14192    14298    20202
MafK_(ab50322)        19335    14790    27819
MafF_(M8194)          11368     9054    17209
FOSL2                  6745     7021    11441
YY1_(SC-281)           5029     4862     7989
JunD                   9304     7888    15083
ELF1_(SC-631)          5118     4968     7910
Mxi1_(AF4185)          5780     5564     9032
ATF3                    949      877     1465
RFX5_(200-401-194)     1736     1488     2790
Max                    3318     3114     5434
RXRA                   4668     4664     7740
ZBTB7A_(SC-34508)      2548     2334     4306
MAZ_(ab85725)          3395     3255     5449
TBP                    3857     3758     6199
TEAD4_(SC-101184)      4054     3808     7310
CEBPB_(SC-150)         5107     4677     8339
USF2                   1870     1666     2754
SRF                    1457     1362     2495
MYBL2_(SC-81192)       4676     4342     8903
NFIC_(SC-81335)        4364     3932     7809
ARID3A_(NB100-279)     4881     4242     8498
CEBPD_(SC-636)         3058     2962     5408
Nrf1                    632      489      783
HSF1                    325      339      770
TCF12                   513      433     1120
TCF7L2                  740      658     1344
BHLHE40                 777      722     1362
IRF3                    225      140      319
ZNF274                  152       34       59

In [11]:
selected_TFs.index

Index(['MafK_(ab50322)', 'CTCF', 'FOXA1_(SC-101058)', 'MafF_(M8194)', 'JunD',
       'SP1', 'FOSL2', 'USF-1', 'Mxi1_(AF4185)', 'ELF1_(SC-631)'],
      dtype='object', name='TF')

In [7]:
from TFBS_negatives.data import DataModule
datafolder = "/data/home/natant/Negatives/Data/Encode690/ENCODE_hg38_subset_101bp_celltypes_ATAC_H5_all_chr copy/"
celltype = "HepG2"
file = f"{datafolder}/{celltype}.h5t"
Dmod = DataModule(file, TF="CTCF", batch_size=256, neg_mode="celltype", cross_val_set=1, max_positives=2000)

/data/home/natant/anaconda3/envs/Negs/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Warning: Length of neg_pos does not match length of peak_ix_to_pos. Limiting to match positives.
Optimally they should be the same length...........
Original Pos length: 14192, Original Neg length: 13076
Warning: Length of neg_pos does not match length of peak_ix_to_pos. Limiting to match positives.
Optimally they should be the same length...........
Original Pos length: 20202, Original Neg length: 21664